.container__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 250px;
  min-height: 350px;
  height: auto;
  padding: 20px;

  margin: 10px;
  border: 0.8px solid greenyellow;
  border-radius: 10px;

  color: white;
}

.container__person:hover {
  -webkit-box-shadow: 3px 3px 14px 5px greenyellow;
  -moz-box-shadow: 3px 3px 14px 5px greenyellow;
  box-shadow: 3px 3px 14px 5px greenyellow;
}

.name {
  margin-top: -2px;
  margin-bottom: 8px;
}

.img__card {
  width: 220px;
  height: 220px;
  border-radius: 20px;
}

.status__vivo {
  width: 200px;
  height: 14px;
  font-size: 14px;

  background-color: greenyellow;
  color: black;

  border-radius: 20px;
  padding: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: -8px;
}

.status__morto {
  width: 200px;
  height: 14px;
  font-size: 14px;

  background-color: black;
  color: greenyellow;

  border-radius: 20px;
  padding: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: -8px;
}

.element,
.name {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.element__container {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 3px;
}
